.address {
  margin-top: -25px;
  border-radius: 0 0 25px 25px;

  background-color: $accent-color-1;

  position: relative;
  z-index: 2;
}

.address__container {
  padding: 60px 0 35px;
}

.address__text {
  position: relative;

  padding-left: 60px;

  font-family: $main-font;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $base-color-2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;

    background-color: $contacts-icon;
    background-image: url("../../img/contacts-location.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 14px 22px;
    border-radius: 50%;
  }
}

.address__button {
  display: block;
  position: relative;

  margin-top: 30px;
  padding: 19px 50px 19px 20px;

  background-color: $element-background;
  border: 2px solid $base-color-2;
  border-radius: 15px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $base-color-4;

  svg {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 10px;
    height: 14px;
  }
}

@media (min-width: $tablet-width) {
  .address {
    margin-top: -60px;
    border-radius: 0 0 60px 60px;
  }

  .address__container {
    padding: 100px 0 80px;
  }

  .address__text {
    display: flex;
    align-items: center;

    margin-left: 35px;
    margin-right: 35px;
    padding-left: 90px;
    min-height: 68px;

    font-size: 28px;
    line-height: 28px;

    &::before {
      width: 68px;
      height: 68px;

      background-size: 21px 32px;
    }
  }

  .address__button {
    margin: 40px 35px 0;
    padding: 25px 70px 25px 30px;

    font-size: 24px;
    line-height: 24px;

    svg {
      top: 30px;
      right: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .address__container {
    padding: 115px 0 55px;
  }

  .address__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1025px;
    margin: 0 auto 0 225px;
  }

  .address__text {
    margin: 0;
    padding-left: 125px;
    min-height: 90px;

    &::before {
      width: 90px;
      height: 90px;

      background-size: 28px 43px;
    }
  }

  .address__button {
    margin: 0;

    &:hover {
      background-color: $base-color-2;
      color: $base-color-1;

      svg {
        fill: $base-color-1;
      }
    }

    &:active {
      background-color: $base-color-2;
      color: $address-button-active;

      svg {
        fill: $address-button-active;
      }
    }
  }
}
