.button {
  display: inline-block;
  vertical-align: top;

  padding: 10px 70px;

  background-color: $accent-color-1;
  border: none;
  border-radius: 35px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $base-color-3;
  text-transform: uppercase;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 24px;
    line-height: 24px;
    text-transform: none;

    padding: 28px 30px;
  }
}
