.checkbox__label {
  display: flex;
  align-items: center;

  position: relative;
  min-height: 18px;
  padding-left: 25px;

  font-family: $main-font;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: $text-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: $base-color-1;
    border-radius: 3px;
  }

  &--children {
    min-height: 26px;
    padding-left: 40px;

    &::before {
      width: 24px;
      height: 24px;

      border: 1px solid $border-element;
    }
  }
}

.checkbox__input:checked {
  & + .checkbox__label {
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 9px;
      height: 9px;
      background-image: url("../../img/tick.svg");
      background-repeat: no-repeat;
      background-size: 9px 9px;
    }

    &--children {
      &::after {
        top: 8px;
        left: 9px;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .checkbox__label {
    font-size: 20px;
    line-height: 20px;

    min-height: 24px;
    padding-left: 36px;

    &::before {
      width: 24px;
      height: 24px;
    }

    &--children {
      min-height: 36px;
      padding-left: 60px;

      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $base-color-4;

      &::before {
        width: 34px;
        height: 34px;
      }
    }
  }

  .checkbox__input:checked {
    & + .checkbox__label {
      &::after {
        top: 6px;
        left: 6px;
        width: 12px;
        height: 12px;
        background-size: 12px 12px;
      }

      &--children {
        &::after {
          top: 13px;
          left: 14px;
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .checkbox__label {
    &:hover {
      color: $text-color-opacity-1;

      &::before {
        opacity: 0.6;
      }
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }

    &--children {
      width: 186px;

      &:hover {
        color: $base-color-4;

        &::before {
          border-color: $range-border-hover;
          opacity: 1;
        }
      }

      &:active {
        &::before {
          background-color: $filter-background;
          border-color: $filter-background;
        }

        &::after {
          opacity: 0.3;
        }
      }
    }
  }
}
