.contacts-list {
  @include list-reset;

  padding: 0;
  margin-top: 55px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  &--intro {
    display: flex;

    margin: 0;
  }
}

.contacts-list__item {
  &--header {
    display: flex;
    align-items: center;

    position: relative;
    padding-left: 60px;
    min-height: 45px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 45px;
      height: 45px;

      background-color: $contacts-icon;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 45px;
      height: 45px;
    }
  }

  &--header a {
    color: $base-color-2;
  }

  &--phone {
    &::after {
      background-image: url("../../img/contacts-phone.svg");
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &--mail {
    &::after {
      background-image: url("../../img/contacts-mail.svg");
      background-size: 18px 13px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &--intro {
    position: relative;
    width: 40px;
    height: 40px;

    background-color: $accent-color-2;
    border-radius: 50%;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 40px;
      height: 40px;

      background-image: url("../../img/topmenu-phone.svg");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 50% 50%;
    }
  }

  &--intro-mail {
    background-color: $decoration-element;

    &::before {
      background-image: url("../../img/topmenu-mail.svg");
      background-size: 18px 14px;
    }
  }
}

.contacts-list__link {
  &--contacts {
    display: flex;
    align-items: center;

    position: relative;
    min-height: 45px;
    width: auto;

    span {
      padding-left: 60px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 45px;
        height: 45px;

        background-color: $contacts-icon;
        border-radius: 50%;
      }

      svg {
        position: absolute;
      }
    }
  }

  &--phone {
    svg {
      top: 14px;
      left: 14px;

      width: 18px;
      height: 18px;
    }
  }

  &--mail {
    svg {
      top: 16px;
      left: 14px;

      width: 18px;
      height: 13px;
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts-list {
    &--header {
      margin-top: 140px;
    }
  }

  .contacts-list__item {
    &::before {
      width: 68px;
      height: 68px;
    }

    &::after {
      width: 68px;
      height: 68px;
    }

    &--header {
      padding-left: 90px;
      min-height: 68px;
    }

    &--phone {
      &::after {
        background-size: 27px 27px;
      }
    }

    &--mail {
      &::after {
        background-size: 27px 20px;
      }
    }

    span {
      font-size: 28px;
      line-height: 28px;
    }
  }

  .contacts-list__link {
    &--contacts {
      margin: 0 35px;
      min-height: 68px;

      span {
        padding-left: 90px;

        &::before {
          width: 68px;
          height: 68px;
        }

        &::after {
          width: 68px;
          height: 68px;
        }
      }
    }

    &--phone {
      svg {
        top: 20px;
        left: 20px;

        width: 27px;
        height: 27px;
      }
    }

    &--mail {
      svg {
        top: 24px;
        left: 20px;

        width: 27px;
        height: 20px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin: 0;
    width: 155px;
  }

  .contacts-list__item {
    &--header {
      padding-left: 0;
      min-height: 0;
      width: 50px;
      height: 50px;
      background-color: $accent-color-2;
      border-radius: 50%;

      &::before {
        background-color: $element-background;
      }

      &::after {
        background-image: url("../../img/topmenu-phone.svg");
        background-size: 18px 18px;
      }

      &:hover {
        background-color: $phone-hover;
      }

      &:active {
        background-color: $phone-hover;

        &::after {
          opacity: 0.3;
        }
      }
    }

    &::before {
      width: 50px;
      height: 50px;
    }

    &::after {
      width: 50px;
      height: 50px;
    }

    &--header-mail {
      background-color: $decoration-element;

      &::before {
        background-color: $element-background;
      }

      &::after {
        background-image: url("../../img/topmenu-mail.svg");
        background-size: 18px 14px;
      }

      &:hover {
        &::before {
          background-color: $accent-color-2;
        }
      }

      &:active {
        &::before {
          background-color: $accent-color-2;
        }
      }
    }
  }

  .contacts-list__link {
    &--contacts {
      margin: 0;
      min-height: 90px;

      span {
        padding-left: 120px;

        &::before {
          width: 90px;
          height: 90px;
        }
      }

      svg {
        top: 27px;
        left: 27px;

        width: 36px;
        height: 36px;
      }

      &:hover {
        color: $decoration-element;

        svg {
          fill: $decoration-element;
        }
      }

      &:active {
        color: $contacts-active;

        svg {
          fill: $contacts-active;
        }
      }
    }

    &--contacts-mail {
      svg {
        top: 32px;
        left: 27px;

        width: 36px;
        height: 26px;
      }
    }
  }

  .contacts-list__item--header a {
    color: $base-color-1;
    width: 50px;
    height: 50px;
  }

  .contacts-list__phone {
    display: none;
  }

  .contacts-list__mail {
    display: none;
  }
}
