.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-height: 60px;

  border-top: 1px solid $border-copyright;
}

.copyright__link {
  svg {
    fill: $base-color-2;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    font-size: 20px;
    line-height: 24px;

    border: none;
  }

  .copyright__link {
    margin-top: 10px;
    margin-left: 25px;
  }
}
