.countries {
  position: relative;
  padding-bottom: 30px;

  border-radius: 0 0 25px 25px;
  background-color: $element-background-3;

  z-index: 6;
}

.countries__title {
  padding-top: 65px;
}

.countries__intro {
  margin-top: 20px;
  width: 195px;
}

.countries__list {
  @include list-reset;

  margin-top: 65px;
}

.countries__item {
  width: 100%;
  margin-top: 10px;

  background-color: $base-color-1;
  border-radius: 15px;

  overflow: hidden;
}

.countries__item-description {
  padding: 25px 20px;

  border-radius: 15px;
}

.countries__name {
  margin: 0;

  font-family: $main-font;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $base-color-3;
}

.countries__slogan,
.countries__visitors {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: $text-color-opacity;
}

.countries__visitors {
  padding-left: 20px;
}

.countries__button {
  margin-top: 25px;
}

@media (min-width: $tablet-width) {
  .countries {
    border-radius: 0 0 60px 60px;
    padding-bottom: 80px;
  }

  .countries__container {
    background-image: url("../../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: 92% 85px;
  }

  .countries__title {
    padding-top: 70px;
  }

  .countries__intro {
    margin-top: 55px;
    width: 340px;
  }

  .countries__list {
    margin: 0 35px;
    margin-top: 110px;
  }

  .countries__item {
    display: flex;
    flex-direction: row;
  }

  .contries__item-image {
    width: 185px;
    height: auto;

    order: 2;
  }

  .countries__item-description {
    flex-grow: 1;

    padding: 30px 30px 20px;
    border-radius: 15px 0 0 15px;
  }

  .countries__name {
    font-size: 24px;
    line-height: 24px;
  }

  .countries__slogan {
    margin-top: 5px;

    font-size: 20px;
    line-height: 18px;
  }

  .countries__visitors {
    margin-top: 15px;
    padding-left: 30px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .countries {
    padding-bottom: 0;
  }

  .countries__container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    max-height: 750px;
    padding-bottom: 140px;

    background-position: 95% 85px;
  }

  .countries__title {
    margin-top: 160px;
    margin-left: 30px;
    padding: 0;

    order: 2;
  }

  .countries__intro {
    margin-top: 60px;
    margin-left: 30px;

    order: 3;
  }

  .countries__list {
    width: 560px;
    margin: 150px 0 0 70px;

    order: 1;
  }

  .countries__button {
    margin-top: 100px;
    margin-left: 30px;
    padding-right: 100px;

    order: 4;
  }
}
