.country-choiсe__select {
  width: 170px;
  padding: 10px 30px 10px 10px;
  border: 1px solid $border-element;
  background-color: $element-background;
  border-radius: 5px;

  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-4;
  text-transform: uppercase;

  &--button {
    width: 100%;
    background-color: $element-background-3;

    text-align: left;
  }

  &--choose {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .country-choiсe {
    order: 4;
  }

  .country-choiсe__select {
    width: 370px;
    padding: 20px 60px 20px 25px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .country-choiсe__select {
    width: 730px;
  }
}
