.form-travelmates__parameter {
  padding: 0;
  margin: 0;
  border: none;
}

.form-travelmates__legend {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid $border-parameter;

  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $base-color-4;
  text-transform: uppercase;
}

.form-travelmates__button {
  margin-top: 20px;
  padding: 10px 70px;

  background-color: $base-color-1;
  border: none;
  border-radius: 35px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $base-color-3;
  text-transform: uppercase;
}
