.form-travelmates__parameter {
  padding: 0;
  margin: 0;
  border: none;
}

.form-travelmates__legend {
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $base-color-4;
  text-transform: uppercase;
}

.form-travelmates__transports {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-top: 18px;
  margin-bottom: 10px;
}

.form-travelmates__transport {
  position: relative;

  width: 33px;
  height: 33px;

  background-color: $base-color-1;
  border-radius: 50%;
}

.form-travelmates__button {
  width: 100%;
  margin-top: 15px;
  padding: 5px 70px;

  background-color: $base-color-1;
  border: none;
  border-radius: 35px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $base-color-3;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form-travelmates__wrapper {
    padding: 35px 0 25px;
    border-top: 1px solid $border-parameter;
    border-bottom: 1px solid $border-parameter;
  }

  .form-travelmates__transports {
    margin: 0;
  }

  .form-travelmates__transport {
    width: 43px;
    height: 43px;
  }

  .form-travelmates__label {
    &--plane {
      &::before {
        margin-left: -2px;
        background-size: 19px 21px;
      }
    }

    &--bus {
      &::before {
        background-size: 17px 21px;
      }
    }

    &--bike {
      &::before {
        background-size: 24px 21px;
      }
    }

    &--man {
      &::before {
        background-size: 20px 21px;
      }
    }
  }

  .form-travelmates__inputs-wrapper {
    margin: 0;
    width: 150px;
    margin-left: auto;
    order: 3;
  }

  .form-travelmates__button {
    margin-top: 35px;
    padding: 10px 70px;
  }
}

@media (min-width: $desktop-width) {
  .form-travelmates__wrapper {
    padding: 0;
    border: none;
  }

  .form-travelmates__transports {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .form-travelmates__inputs-wrapper {
    margin: 0;
    margin-top: 20px;
    order: 0;
  }

  .form-travelmates__button {
    padding: 10px 35px;
  }
}
