.input-range-wrapper {
  display: flex;
  flex-direction: row;

  position: relative;
  margin-top: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 102px;

    width: 16px;
    height: 11px;

    background-image: linear-gradient(180deg, $base-color-1 5px, $border-element 5px, $border-element 6px, $base-color-1 6px);
  }
}

.input-range {
  padding: 6px 30px;
  margin: 0;
  width: 50%;

  border: 1px solid $border-element;

  font-family: $main-font;
  font-weight: 500;
  font-size: 15px;
  line-height: 13.5px;
  color: $base-color-4;
  text-align: center;

  &::placeholder {
    color: $base-color-4;
  }

  &--min {
    border-radius: 5px 0 0 5px;
    border-right: none;

    &:hover {
      border-right: 1px solid $range-border-hover;
    }

    &:hover + .input-range--max {
      border-left: none;
    }

    &:active {
      border-right: 1px solid $base-color-3;
    }

    &:active + .input-range--max {
      border-left: none;
    }
  }

  &--max {
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    border-color: $range-border-hover;
  }

  &:active {
    border-color: $base-color-3;
  }
}

.input-range__multirange {
  position: relative;

  margin-top: 25px;

  width: 100%;
  height: 2px;

  background-color: rgba(29, 46, 91, 0.2);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 144px;
    height: 2px;

    background-color: $base-color-4;
  }
}

.input-range__marker {
  position: absolute;
  top: -4px;
  left: 67px;
  width: 10px;
  height: 10px;

  background-color: $base-color-4;
  border-radius: 50%;

  &--max {
    left: auto;
    right: -1px;
  }
}

@media (min-width: $tablet-width) {
  .input-range__multirange {
    margin: 0;

    width: 277px;
    height: 3px;

    &::before {
      width: 201px;
      height: 3px;
    }
  }

  .input-range-wrapper {
    margin-top: 0;

    &::before {
      top: 15px;
      left: 65px;

      width: 21px;
      height: 15px;

      background-image: linear-gradient(180deg, $base-color-1 7px, $border-element 7px, $border-element 8px, $base-color-1 8px);
    }
  }

  .input-range {
    padding: 10px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .input-range-wrapper {
    width: 100%;
    margin-top: 18px;

    &::before {
      top: 14px;
      left: 84px;
    }
  }

  .input-range__multirange {
    width: 100%;
    margin-top: 35px;

    &::before {
      width: 125px;
    }
  }

  .input-range__marker {
    &--min {
      left: 59px;
    }

    &:hover {
      top: -8.5px;
      width: 19px;
      height: 19px;
    }

    &:active {
      top: -8.5px;
      width: 19px;
      height: 19px;
      box-shadow: 0 3px 7px 0 $element-state;
    }
  }
}
