.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  background-color: $base-color-3;

  color: $base-color-1;
}

.intro__container {
  width: auto;
}

.intro__slogan-container {
  min-height: 404px;

  background-image:
    url("../../img/traveller-illustration-mobile@1x.png"),
    url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position:
    top 100% left 62%,
    top center;

  @media (min-resolution: $retina-dppx) {
    background-image:
      url("../../img/traveller-illustration-mobile@2x.png"),
      url("../../img/globe-back-mobile@2x.jpg");
    background-size:
      192px 255px,
      320px 569px;
  }
}

.intro__slogan {
  display: block;

  padding-top: 15px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.intro__links-container {
  display: flex;
  flex-direction: row;

  padding: 0 25px;
  margin-top: -20px;
}

.intro__quote {
  margin: 23px 25px 30px;
  width: 160px;
}

.intro__quote q {
  display: block;
  margin-bottom: 20px;
}

.intro__quote cite {
  font-family: $main-font;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
}

.intro__steps {
  @include list-reset;

  display: flex;
  flex-direction: column;

  padding: 0 25px 40px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $base-color-3;

  overflow: hidden;
  background-image: linear-gradient(180deg, $base-color-3, $base-color-3 80px, $base-color-2 80px, $base-color-2);
}

.intro__step-value {
  position: relative;
  margin-top: -10px;
  padding: 22px 25px 32px;
  width: auto;

  background-color: $accent-color-2;
  border-radius: 10px 10px 0 0;

  &::before {
    content: "1";
    position: absolute;
    top: 23px;
    right: 23px;

    color: $base-color-1;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  &--first {
    margin-top: 0;
  }

  &--second {
    background-color: $second-step;

    &::before {
      content: "2";
    }
  }

  &--third {
    background-color: $decoration-element;

    &::before {
      content: "3";
    }
  }

  &--fourth {
    padding-bottom: 22px;
    border-radius: 10px;
    background-color: $accent-color-1;

    &::before {
      content: "4";
    }
  }
}

@media (min-width: $tablet-width) {
  .intro {
    background-color: $tablet-background;
    background-image:
      url("../../img/traveller-illustration-tablet@1x.png"),
      url("../../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position:
      72% 273px,
      50% 251px;

    @media (min-resolution: $retina-dppx) {
      background-image:
        url("../../img/traveller-illustration-tablet@2x.png"),
        url("../../img/globe-back-tablet@2x.jpg");
      background-size:
        372px 451px,
        1479px 612px;
    }
  }

  .intro__slogan-container {
    align-items: center;
    min-height: 0;
    background-image: none;
  }

  .intro__slogan {
    margin-top: 12px;
    width: 400px;

    font-size: 60px;
    line-height: 70px;
  }

  .intro__links-container {
    display: none;
  }

  .intro__quote {
    margin: 87px 35px 0;
    padding: 0;
    width: 265px;
  }

  .intro__quote q {
    font-size: 28px;
    line-height: 33px;
  }

  .intro__quote cite {
    display: block;
    margin-top: 47px;

    font-size: 21px;
    line-height: 25px;
  }

  .intro__steps {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0 40px;
    margin-top: 211px;
    background-image: linear-gradient(180deg, $element-background, $element-background 140px, $base-color-2 140px, $base-color-2);

    :nth-child(2n-1) {
      width: 355px;
    }

    :nth-child(2n) {
      width: 345px;
      margin-left: -13px;
      z-index: 2;
    }
  }

  .intro__step-value {
    flex-grow: 1;

    margin-top: 0;
    padding: 30px 35px 62px;
    box-sizing: border-box;

    font-size: 24px;
    line-height: 24px;

    &::before {
      top: auto;
      right: auto;
      bottom: 27px;
      left: 35px;
    }

    &--first {
      border-radius: 15px 0 0 0;
    }

    &--second {
      border-radius: 15px 15px 0 0;
    }

    &--third {
      border-radius: 0 0 0 15px;
    }

    &--fourth {
      border-radius: 0 0 15px 15px;
    }
  }
}

@media (min-width: 1120px) {
  .intro__steps {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    border-radius: 0 0 60px 60px;

    background-color: $base-color-3;
    background-image:
      url("../../img/traveller-illustration-desktop@1x.png"),
      url("../../img/globe-back-desktop@1x.jpg");
      background-size: auto;
    background-repeat: no-repeat;
    background-position:
      left 60% top 10px,
      50% -99px;

    position: relative;
    z-index: 2;

    @media (min-resolution: $retina-dppx) {
      background-image:
        url("../../img/traveller-illustration-desktop@2x.png"),
        url("../../img/globe-back-desktop@2x.jpg");
      background-size:
        431px 640px,
        1800px 750px;
    }
  }

  .intro__wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  .intro__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .intro__slogan {
    padding: 92px 67px 0;
    width: 490px;

    text-align: left;
  }

  .intro__quote {
    margin: 116px 23px 0 auto;
    padding: 0;
    width: 265px;
  }

  .intro__steps {
    width: auto;
    padding: 0 60px 120px;
    margin-top: 107px;
    margin-bottom: 0;

    background-image: none;

    :first-child {
      width: 330px;
    }

    :nth-child(2),
    :nth-child(3) {
      width: 360px;
      margin-left: -15px;
    }

    :last-child {
      width: 315px;
      margin-left: -15px;

      z-index: 4;

      border-radius: 15px;
    }
  }

  .intro__step-value {
    padding: 25px 105px 35px 35px;
    border-radius: 15px 0 0 15px;

    &::before {
      right: 50px;
      top: 25px;
      bottom: auto;
      left: auto;
    }

    &--second {
      z-index: 2;
    }

    &--third {
      z-index: 3;
    }

    &--fourth {
      &::before {
        right: 35px;
      }
    }

    &:not(:first-of-type) {
      padding-left: 30px;
    }
  }
}
