.js-header {
  &--scroll {
    background-color: $base-color-1;

    .page-header__logo-image {
      &--mobile {
        display: none;
      }

      &--scroll-mobile {
        display: block;
      }
    }
  }
}

.js-toggle {
  &--opened {
    width: 27px;
    min-height: 30px;
  }

  &--opened::before {
    content: "";

    position: absolute;
    top: 13.5px;
    left: 0;

    width: 27px;
    height: 2px;
    border-radius: 1px;
    box-shadow: none;

    background-color: $toggle-closed;
    transform: rotate(45deg);
  }

  &--opened::after {
    content: "";

    position: absolute;
    top: 13.5px;
    left: 0;

    width: 27px;
    height: 2px;
    border-radius: 1px;

    background-color: $toggle-closed;
    transform: rotate(-45deg);
  }
}

.js-fbutton {
  &--opened {
    width: 12px;

    &::before {
      content: none;
      position: absolute;
      top: 0;
      left: 0;

      width: 90px;
      height: 24px;

      font-family: $main-font;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $base-color-2;
      text-transform: uppercase;
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: 0;

      width: 12px;
      height: 12px;

      background-image: url("../../img/filter-close.svg");
      background-repeat: no-repeat;
      background-size: 12px 12px;
    }
  }
}

.js-filter {
  &--opened {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
  }
}

.js-tariffs {
  &--opened {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .js-header {
    &--scroll {
      background-color: $base-color-1;

      .page-header__logo-image {
        &--scroll-mobile,
        &--tablet {
          display: none;
        }

        &--scroll-tablet {
          display: block;
        }
      }
    }
  }

  .js-fbutton {
    &--opened {
      &::before {
        content: "Свернуть";
      }

      &::after {
        top: 2px;
        width: 18px;
        height: 18px;

        background-size: 18px 18px;
      }
    }
  }

  .js-filter {
    top: 155px;
  }
}

@media (max-width: $tablet-width-only) {
  .js-nav {
    &--opened {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .js-header {
    &--scroll {
      height: 90px;
      background-color: $base-color-1;

      .main-nav__list a {
        color: $base-color-2;
      }

      .site-list::before {
        background-color: $base-color-2;
      }

      .page-header__logo-image {
        &--scroll-tablet,
        &--desktop {
          display: none;
        }

        &--scroll-desktop {
          display: block;
        }
      }
    }
  }

  .js-filter {
    position: relative;
    top: 0;
    padding-top: 55px;

    background-color: $element-background-3;
  }
}
