.level {
  display: flex;
  flex-direction: column;

  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $base-color-1;

  background-color: $level-background;
  border-radius: 50%;

  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 54px;

    border: 3px solid $accent-color-2;
    border-top: 3px solid $element-background;
    border-radius: 50%;

    transform: rotate(-45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 54px;

    border: 3px solid $element-background;
    border-top: 3px solid $accent-color-2;
    border-radius: 50%;
  }

  &--99 {
    &::after {
      transform: rotate(-58deg);
    }
  }

  &--80 {
    &::after {
      transform: rotate(-107deg);
    }
  }

  &--25 {
    &::before {
      border: none;
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &--50 {
    &::before {
      border-left: 3px solid $element-background;
    }

    &::after {
      border: none;
    }
  }
}

.level-value {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  border-bottom: 1px solid $base-color-1;
}
