.main-nav {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 75px;

  background-color: $base-color-1;

  z-index: 4;
}

.main-nav__container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0 25px 40px;
  width: 320px;
  box-sizing: border-box;
}

.main-nav__list {
  @include list-reset;

  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-nav {
    top: 130px;
  }

  .main-nav__container {
    align-items: flex-start;

    width: 768px;
    padding: 0 95px 90px;
  }
}

@media (max-width: $tablet-width-only) {
  .main-nav {
    &--opened {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    width: 1090px;
    margin: 0;

    position: relative;
    top: 0;
    left: 0;

    background-color: $element-background;
    color: $base-color-1;
  }

  .main-nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0;
    margin: 0;
    width: 100%;
  }
}
