.modal {
  background-color: $white;
  border-radius: 15px;
  overflow: hidden;
}

.modal__title {
  display: block;
  padding-top: 30px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $orange;
  text-align: center;
}

.modal__list {
  margin: 30px 25px 35px;
  padding: 0;
  list-style: none;
}

.modal__item {
  padding: 10px 0;
}

.modal__item span {
  display: block;
}

.modal__close {
  width: 100%;
  padding: 18px 70px;

  background-color: $background-modal;
  border: none;

  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: $blue;
  text-transform: uppercase;
}
