.modal {
  display: none;
  position: absolute;
  width: 270px;

  background-color: $base-color-1;
  border-radius: 15px;
  overflow: hidden;

  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
}

.modal__title {
  display: block;
  padding-top: 30px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $accent-color-2;
  text-align: center;
}

.modal__list {
  @include list-reset;

  margin: 30px 25px 35px;
}

.modal__item {
  padding: 10px 0;

  border-top: 1px solid $border-copyright;

  &:last-of-type {
    border-bottom: 1px solid $border-copyright;
  }
}

.modal__item span {
  display: block;
}

.modal__close {
  width: 100%;
  padding: 18px 70px;

  background-color: $background-modal;
  border: none;

  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: $base-color-2;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 688px;
    border-radius: 25px;
  }

  .modal__title {
    padding-top: 50px;

    font-size: 45px;
    line-height: 45px;
  }

  .modal__list {
    margin: 45px 85px 50px;
  }

  .modal__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 15px 0;

    font-size: 22px;
    line-height: 28px;
  }

  .modal__close {
    padding: 40px 85px;

    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    top: 100px;
    left: 345px;
    width: 750px;
  }

  .modal__list {
    margin: 45px 60px 50px;
  }

  .modal__close {
    &:hover {
      background-color: $element-background-3;
    }

    &:active {
      background-color: $element-background-3;
      color: $element-state;
    }
  }
}
