.page-footer {
  margin-top: -25px;

  background-color: $base-color-1;
  border-radius: 25px 25px 0 0;

  position: relative;
  z-index: 2;
}

.page-footer__logo {
  display: block;
  margin-top: 38px;
  text-align: center;
}

.page-footer__logo-image {
  &--tablet,
  &--desktop {
    display: none;
  }
}

.page-footer__list {
  @include list-reset;

  justify-content: center;

  margin: 35px 0;

  text-align: center;
}

.page-footer__copyright {
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: -60px;

    border-radius: 60px 60px 0 0;
  }

  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: 150px;
  }

  .page-footer__logo {
    margin-top: 0;
  }

  .page-footer__logo-image {
    &--tablet {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }

  .page-footer__list {
    margin-right: 11px;
    padding-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo-image {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .page-footer__list {
    margin-right: 45px;
  }
}
