.page__title-wrapper {
  padding: 0 25px;
  padding-top: 45px;

  background-color: $base-color-3;
}

.page__title {
  padding-bottom: 5px;
  margin: 0;

  font-family: $main-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-1;
}
