.page__title-wrapper {
  background-color: $base-color-3;
  border-radius: 0 0 25px 25px;

  position: relative;
  z-index: 3;
}

.page__title-container {
  padding-top: 20px;
}

.page__title {
  padding-bottom: 5px;
  margin: 0;

  font-family: $main-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-1;
}

.page__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .page__title-wrapper {
    border-radius: 0 0 60px 60px;
  }

  .page__title-container {
    flex-direction: row;
    justify-content: space-between;

    padding-top: 80px;
  }

  .page__title {
    margin-left: 35px;
    padding-bottom: 70px;

    font-size: 60px;
    line-height: 70px;
  }

  .page__link {
    display: block;
    margin-right: 35px;
    padding-top: 30px;
    padding-right: 60px;

    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $base-color-1;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .page-link {
    margin-right: 60px;
  }
}
