.page-footer {
  background-color: $base-color-1;
}

.page-footer__logo {
  display: block;
  padding-top: 35px;
  text-align: center;
}

.page-footer__list {
  margin: 35px 0;
  padding: 0;
  list-style: none;

  text-align: center;
}

.page-footer__copyright {
  padding: 0 25px;

  font-weight: 400;
}
