.page__title-wrapper {
  background-color: $base-color-3;
  border-radius: 0 0 20px 20px;

  position: relative;
  z-index: 3;
}

.page__title-container {
  padding-top: 35px;
}

.page__title {
  position: relative;
  padding-bottom: 12px;
  margin: 0;

  font-family: $main-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-1;

  &::before {
    content: "";
    position: absolute;
    bottom: -2.5px;
    left: 0;
    width: 173px;
    height: 5px;

    border-radius: 2.5px;
    background-color: $accent-color-2;
  }

  &--form {
    &::before {
      width: 214px;
    }
  }
}

.page__link {
  display: none;
}

.page__level {
  display: none;
}

.page__photo-desktop {
  display: none;
}

.page__section-wrapper {
  display: flex;
  flex-direction: column;

  width: 320px;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page__title-wrapper {
    border-radius: 0 0 60px 60px;
  }

  .page__title-container {
    flex-direction: row;
    justify-content: space-between;

    padding-top: 82px;
  }

  .page__title {
    margin-left: 35px;
    padding-bottom: 70px;

    font-size: 60px;
    line-height: 70px;

    &::before {
      width: 287px;
      height: 8px;

      border-radius: 4.5px;
    }

    &--form {
      &::before {
        width: 357px;
      }
    }
  }

  .page__link {
    display: block;
    position: relative;
    margin-right: 35px;
    padding-top: 30px;
    padding-right: 60px;

    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $base-color-1;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      top: 33px;
      right: 0;
      width: 32px;
      height: 16px;

      background-image: url("../../img/return.svg");
      background-repeat: no-repeat;
      background-size: 32px 16px;
    }
  }

  .page__section-wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page--form {
    .page__title-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .page__title-container {
      padding-top: 60px;
    }
  }

  .page--form .page__photo-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 425px;
    margin: 0;
  }

  .page__title-container {
    padding-top: 113px;
  }

  .page__title {
    margin-left: 66px;

    &--form {
      margin-top: 52px;
    }
  }

  .page__link {
    margin-right: 64px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page__level {
    display: block;
    position: relative;
    width: 94px;
    height: 94px;
    padding: 18px 22px 19px 21px;
    margin: 0;
    margin-top: -10px;

    color: $base-color-1;

    border-bottom: none;
    border-radius: 50%;

    background-color: $element-background;

    &::before {
      width: 90px;
      height: 90px;
    }

    &::after {
      width: 90px;
      height: 90px;
    }
  }

  .page__level-value {
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    text-align: center;
    border: none;
  }

  .page__level-word {
    display: block;
    padding-top: 2px;

    font-size: 18px;
    font-weight: 400;
    line-height: 22px;

    border-top: 2px solid $border-element;
  }

  .page__image {
    display: block;
    margin: 0;
    margin-right: 95px;
    width: 190px;
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  .page__section-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    padding: 75px 60px 50px;
    width: 1320px;
  }
}
