.parameter__list {
  @include list-reset;

  margin-bottom: 15px;

  font-family: $main-font;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: $text-color;
}

.parameter__item {
  padding-top: 7px;
  padding-left: 25px;
}
