.parameter-count {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.parameter-count__label {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $base-color-4;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.parameter-count__unit {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $base-color-4;
  text-transform: uppercase;
  letter-spacing: 2px;

  opacity: 0.3;
}

.parameter-count__input {
  display: block;
  margin-top: 10px;
  padding: 11px 35px;
  width: 100%;
  border: 1px solid $border-element;
  border-radius: 5px;

  background-color: $element-background;

  font-family: $main-font;
  font-weight: 500;
  font-size: 15px;
  line-height: 13.5px;
  color: $base-color-4;
  text-align: center;
}

.parameter-count__button {
  position: absolute;
  top: 40px;
  left: 15px;

  width: 14px;
  height: 14px;

  background-image: url("../../img/qty-minus-mobile.svg");
  background-repeat: no-repeat;
  background-size: 14px 3px;
  background-position: center left;
  background-color: $element-background;
  border: none;

  opacity: 0.2;

  &--plus {
    left: auto;
    right: 15px;

    background-image: url("../../img/qty-plus-mobile.svg");
    background-size: 14px 14px;
  }
}

@media (min-width: $tablet-width) {
  .parameter-count {
    width: 100%;
    padding-top: 22px;
    box-sizing: border-box;

    border-top: 1px solid $parameter-count-border;

    &--people {
      order: 3;
    }

    &--days {
      margin-top: 27px;
      order: 5;
    }
  }

  .parameter-count__label {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .parameter-count__unit {
    font-size: 20px;
    line-height: 20px;
  }

  .parameter-count__input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 25px;
    padding: 22px 64px;

    font-size: 20px;
    line-height: 20px;
  }

  .parameter-count__button {
    top: 92px;
    left: 22px;
    width: 20px;
    height: 20px;
    padding: 0;

    background-image: url("../../img/qty-minus.svg");
    background-size: 20px 2px;

    &--plus {
      left: auto;
      right: 22px;

      background-image: url("../../img/qty-plus.svg");
      background-size: 20px 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .parameter-count {
    flex-wrap: nowrap;

    width: 485px;
    border: none;
    padding: 0;

    &--days {
      margin-top: 0;
    }
  }

  .parameter-count__label {
    width: 195px;

    order: 1;
  }

  .parameter-count__unit {
    width: 50px;

    order: 3;
  }

  .parameter-count__input {
    width: 181px;
    margin: 0;
    margin-right: 5px;

    order: 2;

    &:hover {
      border-color: $range-border-hover;
    }

    &:active {
      border-color: $base-color-3;
    }
  }

  .parameter-count__button {
    top: 25px;
    left: 242px;

    &--plus {
      left: 362px;
    }

    &:hover {
      opacity: 0.4;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
