.parameter__wrapper {
  padding: 10px 0;
  border-top: 1px solid $border-parameter;
}

.parameter__legend {
  width: 100%;
  margin: 0;
  padding-right: 20px;
  box-sizing: border-box;

  position: relative;

  &--closed {
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;
      width: 0;
      height: 0;

      border: 4px solid $element-background;
      border-top: 4px solid $base-color-2;
    }
  }

  &--opened {
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      right: 0;
      width: 0;
      height: 0;

      border: 4px solid $element-background;
      border-bottom: 4px solid $base-color-2;
    }
  }
}

.parameter__colon {
  display: none;
}

.parameter__list {
  @include list-reset;

  margin-top: 15px;
  margin-bottom: 10px;

  font-family: $main-font;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: $text-color;

  &--hobby,
  &--food {
    display: none;
  }
}

.parameter__item {
  &:not(:first-of-type) {
    margin-top: 12px;
  }
}

@media (min-width: $tablet-width) {
  .parameter__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: none;
  }

  .parameter__legend {
    display: flex;

    width: 105px;
    margin-right: 20px;

    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    &::before {
      content: none;
    }
  }

  .parameter__colon {
    display: block;
  }

  .parameter__list {
    display: flex;
    flex-direction: row;

    margin: 0;

    &--hobby,
    &--food {
      display: flex;
    }
  }

  .parameter__item {
    width: 170px;


    &:not(:first-of-type) {
      margin-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .parameter__wrapper {
    flex-direction: column;
    align-items: flex-start;

    padding: 6px 0;
  }

  .parameter__list {
    flex-direction: column;

    margin-top: 20px;
    margin-bottom: 15px;

    &--hobby,
    &--food {
      display: none;
    }
  }

  .parameter__legend {
    margin: 0;
    width: 100%;

    &::before {
      content: "";

      border-width: 5px;
    }

    &--closed {
      &::before {
        top: 13px;
      }
    }

    &--opened {
      &::before {
        top: 9px;
      }
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .parameter__colon {
    display: none;
  }

  .parameter__item {
    &:not(:first-of-type) {
      padding-top: 16px;
    }
  }
}
