.personal-data {
  padding: 24px 0 35px;
}

.personal-data__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;
}

.personal-data__level {
  position: relative;

  width: 100px;
  height: 100px;
  padding: 20px 22px 19px 21px;
  margin: 0;
  margin-left: 19px;

  border-bottom: none;
  border-radius: 50%;

  font-family: $main-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $text-color;
  text-align: center;

  background-color: $element-background;

  &::before {
    width: 94px;
    height: 94px;
  }

  &::after {
    width: 94px;
    height: 94px;
  }

  &--top {
    display: none;
  }
}

.personal-data__level-value {
  border-bottom: none;

  font-family: $main-font;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  color: $base-color-3;
}

.personal-data__level-word {
  display: block;
  padding-top: 2px;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $text-color;

  border-top: 2px solid $border-element;
}

.personal-data__image {
  &--bottom {
    margin-right: 17px;

    width: 100px;
    height: 100px;

    border-radius: 50%;
  }
}

.personal-data__button {
  margin-top: 19px;
  padding: 5px 70px;
  width: 100%;

  background-color: $element-background-2;

  text-transform: uppercase;

  &--top {
    display: none;
  }
}

.personal-data__parameter {
  position: relative;
  margin-top: 27px;
  border: 1px solid $border-element;
  border-radius: 10px;
  width: 100%;
}

.personal-data__hashtags {
  margin-top: 34px;
  height: 85px;
}

.personal-data__caption {
  position: absolute;
  top: -10px;
  left: 102px;
  padding: 0 14px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $base-color-4;
  text-transform: uppercase;
  text-align: center;

  background-color: $element-background-3;

  &--transport {
    left: 80px;
  }
}

.personal-data__textarea {
  background-color: $element-background;
  border: none;
  padding: 20px 25px;
  width: 100%;
  box-sizing: border-box;

  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;
}

.personal-data__transports {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 133px;

  margin: 14px auto;
}

.personal-data__transport {
  width: 32px;
  height: 32px;

  background-color: $base-color-1;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .personal-data {
    padding: 63px 0 58px;
  }

  .personal-data__container {
    align-items: flex-start;
  }

  .personal-data__level {
    padding: 18px 19px 16px 18px;
    width: 94px;
    height: 94px;
    margin-left: 35px;

    order: 1;

    &::before,
    &::after {
      width: 88px;
      height: 88px;
    }
  }

  .personal-data__transports {
    margin: 24.5px auto;
    width: 195px;
  }

  .personal-data__transport {
    width: 43px;
    height: 43px;
  }

  .personal-data__caption {
    top: auto;
    bottom: -10px;
    left: 262px;

    padding: 0 20px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.5px;

    &--transport {
      left: 77px;
      bottom: -8px;
    }
  }

  .personal-data__parameter {
    margin-top: 0;
    width: 310px;
    height: 94px;

    order: 2;
  }

  .personal-data__image {
    margin-right: 35px;
    width: 94px;
    height: 94px;

    border-radius: 5px;

    order: 3;
  }

  .personal-data__button {
    margin: 50px 35px 0;
    padding: 20px;
    border-radius: 15px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;

    order: 4;
  }

  .personal-data__hashtags {
    order: 5;

    margin: 50px 35px 0;
    width: 100%;
  }

  .personal-data__textarea {
    padding: 33px 40px 13px;

    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .personal-data {
    padding-top: 72px;
    padding-bottom: 63px;
  }

  .personal-data__level {
    &--bottom {
      display: none;
    }

    &--top {
      display: block;
      width: 94px;
      height: 94px;
      padding: 18px 22px 19px 21px;
      margin: 0;
      margin-top: -10px;

      color: $base-color-1;
    }
  }

  .personal-data__level-value {
    color: $base-color-1;
  }

  .personal-data__level-word {
    color: $base-color-1;
  }

  .personal-data__image {
    &--bottom {
      display: none;
    }

    &--top {
      display: block;
      margin: 0;
      margin-right: 95px;
      width: 190px;
      height: auto;
      border-radius: 10px 10px 0 0;
    }
  }

  .personal-data__button {
    position: absolute;
    top: -75px;
    right: 155px;

    width: 190px;
    padding: 15px;
    margin: 0;
    border-radius: 0 0 15px 15px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3px;

    &:hover {
      background-color: $button-hover;
    }

    &:active {
      color: $element-state;
      background-color: $button-hover;
    }
  }

  .personal-data__hidden-letter {
    display: none;
  }

  .personal-data__parameter {
    width: 385px;
    margin-top: 0;
  }

  .personal-data__caption {
    left: 22px;

    &--transport {
      left: 115px;
    }
  }

  .personal-data__hashtags {
    order: 1;

    margin: 0 0 0 60px;
    width: 730px;
    border: none;
  }

  .personal-data__textarea {
    border: 1px solid $border-element;
    border-radius: 10px;

    &:hover {
      border-color: $textarea-hover;
    }

    &:active {
      border-color: $base-color-3;
    }
  }

  .personal-data__transports {
    width: 170px;
  }

  .personal-data__transport {
    &:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

      .personal-data__transport-label::before {
        opacity: 0.3;
      }
    }

    &:active {
      box-shadow: none;
      background-color: $filter-background;

      .personal-data__transport-label::before {
        opacity: 0.1;
      }
    }

    &--current {
      &:hover {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

        .personal-data__transport-label::before {
          opacity: 0.7;
        }
      }

      &:active {
        box-shadow: none;
        background-color: $filter-background;

        .personal-data__transport-label::before {
          opacity: 0.3;
        }
      }
    }
  }

  .personal-data__transport-label {
    width: 43px;
    height: 43px;
  }
}
