.plans {
  padding: 30px 0 50px;

  background-color: $element-background-2;
  border-radius: 25px 25px 0 0;

  z-index: 3;
}

.plans__title {
  font-family: $main-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-4;
}

.plans__list {
  @include list-reset;

  margin-top: 30px;
}

.plans__item {
  padding: 20px;
  margin-top: 10px;

  background-color: $base-color-1;
  border-radius: 10px;
}

.plans__countries {
  margin: 0;

  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: $base-color-4;
}

.plans__number {
  font-weight: 500;
}

.plans__details {
  margin-top: 20px;

  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $base-color-4;
  text-transform: uppercase;
}

.plans__dates {
  display: block;
  margin-top: 7px;
}

.plans__button {
  display: block;
  margin-top: 25px;

  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-opacity-2;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .plans {
    border-radius: 60px 60px 0 0;
  }

  .plans__title {
    margin-left: 35px;

    font-size: 36px;
    line-height: 50px;
  }

  .plans__list {
    margin-left: 35px;
    margin-right: 35px;
  }

  .plans__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .plans__countries {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    font-size: 24px;
    line-height: 24px;
  }

  .plans__number {
    font-size: 20px;
    line-height: 20px;
  }

  .plans__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 365px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .plans__dates {
    margin: 0;
  }

  .plans__button {
    width: 110px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .plans {
    padding: 30px 0 120px;
  }

  .plans__countries {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 525px;
  }

  .plans__number {
    margin-right: 35px;
  }
}
