.section__wrapper {
  display: flex;
  flex-direction: column;

  width: 320px;
  padding: 0;
  margin: 0 auto;
}

.section__title {
  margin: 0 25px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $accent-color-2;
}

.section__intro {
  margin: 0 25px;
}

.section__accent {
  margin: 0 25px;

  font-weight: 700;
}

.section__button {
  display: flex;
  position: relative;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 25px;
  padding: 15px 23px;
  border-radius: 15px;

  text-transform: none;
  color: $base-color-4;

  &::before {
    content: "";
    position: absolute;
    top: 34px;
    right: 34px;
    width: 10px;
    height: 14px;

    background-image: url("../../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 10px 14px;
  }
}

@media (min-width: $tablet-width) {
  .section__wrapper {
    width: 768px;
  }

  .section__title {
    margin: 0 35px;

    font-size: 45px;
    line-height: 45px;
  }

  .section__intro {
    margin-left: 35px;
    margin-right: 35px;

    font-size: 28px;
    line-height: 33px;
  }

  .section__accent {
    margin: 0 35px;

    font-size: 21px;
    line-height: 25px;
  }

  .section__button {
    margin: 40px 35px 0;
    padding: 30px;
  }
}

@media (min-width: $desktop-width) {
  .section__wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    padding: 50px 60px;
    width: 1320px;
  }

  .section__title {
    margin: 0 70px;
  }

  .section__intro {
    margin: 0 70px;
  }

  .section__accent {
    margin: 0 70px;
  }

  .section__button {
    margin: 0 70px;
    padding-right: 80px;
    width: 275px;
    box-sizing: border-box;

    &:hover {
      background-color: $decoration-element;
    }

    &:active {
      background-color: $decoration-element;
      color: $element-state;

      &::before {
        opacity: 0.3;
      }
    }
  }
}
