.select-travelmates {
  margin: 0 25px;
  margin-top: 25px;
  padding: 25px 25px 20px;
  border-radius: 15px;

  background-color: $accent-color-1;
}

.select-travelmates__phrase {
  font-family: $main-font;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 22.5px;
  color: $base-color-4;
}

.select-travelmates__form {
  margin: 20px 0 0;
}

@media (min-width: $tablet-width) {
  .select-travelmates {
    margin: 0 40px;
    margin-top: 45px;
    padding: 35px;
  }

  .select-travelmates__phrase {
    display: block;
    margin-bottom: 35px;

    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .select-travelmates {
    width: 283px;
    margin: 0;
    padding: 47px 45px 45px;
    box-sizing: border-box;

    order: 2;
  }

  .select-travelmates__phrase {
    margin-bottom: 22px;
  }
}
