.tariffs {
  position: relative;
  z-index: 4;

  background-color: $element-background-3;
  border-radius: 0 0 25px 25px;
}

.tariffs__phrase {
  display: block;
  margin: 0 25px;
  margin-top: 75px;
  width: 100px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $accent-color-2;
}

.tariffs__list {
  @include list-reset;

  margin: 0 25px;
  margin-top: 45px;
}

.tariffs__value {
  padding: 10px 0;
}

.tariffs__price {
  display: block;
}

.tariffs__button {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: $base-color-2;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .tariffs {
    border-radius: 0 0 60px 60px;
  }

  .tariffs__container {
    padding-bottom: 65px;
  }

  .tariffs__phrase {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    font-size: 45px;
    line-height: 45px;
    text-align: center;
  }

  .tariffs__list {
    width: 100%;
    margin: 0;
    margin-top: 75px;

    font-size: 28px;
    line-height: 33px;
  }

  .tariffs__value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 15px 0;
    margin: 0 35px 0 90px;
    border-top: 1px solid $border-tariffs;

    &--third {
      border-bottom: 1px solid $border-tariffs;
    }
  }

  .tariffs__button {
    margin-top: 35px;
    padding-left: 90px;

    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs__container {
    padding-bottom: 165px;
  }

  .tariffs__phrase {
    margin-top: 100px;
  }

  .tariffs__list {
    width: 910px;
    margin: 0;
    margin-top: 130px;
    margin-left: 70px;
  }

  .tariffs__value {
    padding: 15px 0;
    margin: 0;
    margin-left: 90px;
  }

  .tariffs__button {
    margin-left: 70px;
  }
}
