$base-color-1: #ffffff;
$base-color-2: #192144;
$base-color-3: #161c35;
$base-color-4: #1d2e5b;
$accent-color-1: #ffd74b;
$accent-color-2: #ff8d30;
$text-color: #444444;
$text-color-opacity: rgba(68, 68, 68, 0.3);
$text-color-opacity-1: rgba(68, 68, 68, 0.6);
$text-color-opacity-2: rgba(0, 0, 0, 0.3);
$element-background: transparent;
$element-background-2: #dfe3f0;
$element-background-3: #edeff6;
$filter-background: #e2e5f2;
$border-element: #cbced9;
$border-tariffs: #e1e3e9;
$border-copyright: #f2f2f2;
$border-parameter: #f3c72b;
$filter-button: #d6daed;
$background-modal: #f3f4f8;
$level-border: #ff9f50;
$add-plan-background: #d4d9eb;
$calendar-today-border: #ff5c23;
$tablet-background: #182044;
$navigation: #000000;
$toggle-closed: #d3d3d3;
$contacts-icon: #121936;
$decoration-element: #ffbd30;
$second-step: #ffa530;
$background-square: #141b3b;
$icon-user: #e8e8ec;
$level-background: rgba(0, 0, 0, 0.6);
$online: #81e31e;
$offline: #f97676;
$tariff-1: #ffa530;
$tariffs-icon: #132576;
$like: #f9eaea;
$like-hover: #f9d8d8;
$phone-hover: #f26926;
$text-active: rgba(22, 28, 53, 0.3);
$element-state: rgba(29, 46, 91, 0.3);
$element-state-2: rgba(29, 46, 91, 0.7);
$element-state-3: rgba(29, 46, 91, 0.6);
$tooltip-background: #101d41;
$tariffs-hover: rgba(19, 37, 118, 0.7);
$tariffs-active: rgba(19, 37, 118, 0.3);
$input-disabled: #ffefef;
$input-error: #ff0000;
$contacts-active: rgba(255, 189, 48, 0.3);
$address-button-active: rgba(225, 225, 225, 0.3);
$filter-close-hover: #c8cee8;
$range-border-hover: #959bb2;
