$white: #ffffff;
$background-modal: #f3f4f8;
$orange: #ff8d30;
$orange-2: #ff9f50;
$yellow: #ffd74b;
$grey: #444444;
$grey-opacity: rgba(68, 68, 68, 0.3);
$light-grey: #edeff6;
$dark-blue: #161c35;
$blue: #192144;
$blue-2: #1d2e5b;
