$base-color-1: #ffffff;
$base-color-2: #192144;
$base-color-3: #161c35;
$base-color-4: #1d2e5b;
$accent-color-1: #ffd74b;
$accent-color-2: #ff8d30;
$text-color: #444444;
$text-color-opacity: rgba(68, 68, 68, 0.3);
$text-color-opacity-2: rgba(0, 0, 0, 0.3);
$element-background: transparent;
$element-background-2: #dfe3f0;
$element-background-3: #edeff6;
$filter-background: #e2e5f2;
$border-element: #cbced9;
$border-tariffs: #e1e3e9;
$border-copyright: #f2f2f2;
$border-parameter: #f3c72b;
$filter-button: #d6daed;
$background-modal: #f3f4f8;
$level-border: #ff9f50;
$add-plan-background: #d4d9eb;
$calendar-today-border: #ff5c23;
$tablet-background: #182044;
